html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f1f3f5;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header {
  background-color: #4c6ef5;
  color: #fff;
}

.MuiCardHeader-content.css-1qbkelo-MuiCardHeader-content {
  max-width: 1144px;
  margin: 0 auto;
}
